---
import RootLayout from "../layouts/RootLayout.astro";
import {Icon} from "astro-icon";
import BlogPost from "../components/BlogPost.astro";
import {MarkdownInstance} from "astro";
import SocialMedia from "../components/SocialMedia.astro";

const projects: Array<{ title: string, url: string }> = [
  {title: "Protea UI", url: "https://github.com/kjarmie/protea-ui"}
];

// const allPosts = await Astro.glob("../pages/posts/*.md");
const allPosts: (MarkdownInstance<any>)[] = [];
---

<RootLayout class="">
  <section class="mb-16">
    <h1 class="my-4 text-3xl">Hello World!</h1>
    <h3 class="mt-2 mb-4">Hi there. I&apos;m Kieran Armstrong. I&apos;m a fullstack software engineer currently working at <a target="_blank" class="text-arksoft-teal"
                                                                                                                              href="https://arksoft.co.za/">Arksoft</a> where I build ERP
      systems, and the <a target="_blank" class="text-betcha-green" href="/betcha.co.za">Betcha (wip)</a> betting platform. </h3>
    <h3 class="mt-2 mb-1">
      I also work on some fun personal projects:
    </h3>
    <ul class="list-disc pl-8">
      {
        projects.map((item) => (
          <li>
            <a href={item.url}>{item.title}</a>
          </li>
        ))
      }
    </ul>
    <SocialMedia/>
  </section>
  <section class="mb-16">
    <h1 class="my-4">My posts</h1>
    <ul>
      {allPosts.length === 0 ? (
        <div class="text-xs">There's nothing here yet, check back soon!</div>
      ) : (
        allPosts.map((post) =>
          <BlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.date}/>)
      )}
    </ul>
  </section>

</RootLayout>

<style>

</style>
