---
import RootLayout from "../layouts/RootLayout.astro";
import { Icon } from "astro-icon";
import BlogPost from "../components/BlogPost.astro";

const projects: Array<{ title: string, url: string }> = [
  { title: "project", url: "link" },
  { title: "project", url: "link" },
];

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<RootLayout class="">
  <section class="mb-16">
    <h1 class="my-4 text-3xl">Hello World!</h1>
    <h3 class="mt-2 mb-4">Hi there. I&apos;m Kieran Armstrong. I&apos;m a fullstack software engineer currently working at <a target="_blank" class="text-arksoft-teal"
                                                                                                                              href="https://arksoft.co.za/">Arksoft</a> where I build ERP
      systems, and the <a target="_blank" class="text-betcha-green" href="/betcha.co.za">Betcha (wip)</a> betting platform. </h3>
    <h3 class="mt-2 mb-1">
      I also work on some fun personal projects:
    </h3>
    <ul class="list-disc pl-8">
      {
        projects.map((item) => (
          <li>
            <a href={item.url}>{item.title}</a>
          </li>
        ))
      }
    </ul>

    <div class="flex mt-8 mb-4 align-middle items-center gap-4">
      <h3>
        Find me on:
      </h3>
      <nav class="flex items-center gap-3">
        <a class="bg-none h-6 w-6" href="https://www.linkedin.com/in/kieran-armstrong-29153b153/" target="_blank">
          <i class="fa-brands fa-linkedin fa-xl hover:text-sky-800 duration-200 transition-all" />
        </a>
        <a class="bg-none h-6 w-6" href="https://twitter.com/kjarmie" target="_blank">
          <i class="fa-brands fa-twitter fa-xl hover:text-sky-800 duration-200 transition-all" />
        </a>
        <a class="bg-none h-6 w-6" href="https://www.instagram.com/kjarmie/" target="_blank">
          <i class="fa-brands fa-instagram fa-xl hover:text-sky-800 duration-200 transition-all" />
        </a>
        <a class="bg-none h-6 w-6" href="https://github.com/kjarmie/" target="_blank">
          <i class="fa-brands fa-github fa-xl hover:text-sky-800 duration-200 transition-all" />
        </a>
        <a class="bg-none group h-6 w-6" href="mailto:kjarmie@gmail.com">
          <i class="fa-solid fa-envelope fa-xl transition-all duration-200 group-hover:hidden ease-in-out" />
          <i class="fa-solid fa-envelope-open text-sky-800 transition-all duration-200 hidden scale-0 fa-xl group-hover:scale-100 group-hover:inline" />
        </a>
      </nav>
    </div>

  </section>
  <section class="mb-16">
    <h1 class="my-4">My posts</h1>
    <ul>
      {allPosts.map((post) =>
        <BlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.date} />)}
    </ul>
  </section>

</RootLayout>

<style>

</style>
